.navigation-link {
  margin: 0 5px;

  a {
    text-decoration: none;
    color: $brand-color;
    padding: 5px;
    border-radius: 5px;

    &:hover {
      color: white;
      background-color: $brand-color;
    }
  }
}

.appbar-link {
  text-decoration: none;
  color: $brand-color;
  padding: 5px;
  border-radius: 5px;

  &:hover {
    color: white;
    background-color: $brand-color;
  }
}
