.general-body {
  display: flex;
  margin: 10px 0 0;
  justify-content: space-around;
}

.posts {
  margin: auto;
}

.card {
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px #00000029;
}

.sidebar {
  text-align: center;
  font-family: $font-family;
  color: $text-color;
  opacity: 1;
  box-shadow: 0px 3px 6px #fff3f329;
  padding: 5px;
  display: flex;
  flex-flow: column wrap;

  h4 {
    color: $brand-color;
    font-size: medium;
  }
}

.recent-post-card {
  display: flex;
  margin: 10px;
  padding: 5px;

  img {
    padding: 3px;
    height: 80%;
  }
  p {
    padding: 3px;
    margin: 0;
  }
}

.popular-post {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.card-body {
  button {
    height: 40px;
    background-color: $brand-color;
    border: none;
    outline: none;
    color: $main-color;
    border-radius: 5px;
    margin-bottom: 5vh;
    &:active {
      height: 50px;
    }
  }
}

.popular-post-container {
  margin-top: 10px;
  h3 {
    font-size: medium;
    color: $brand-color;
  }
}

.about-ceo {
  div {
    display: flex;

    img {
      border-radius: 100%;
      margin: 0 20px 0 20px;
    }
    div {
      display: flex;
      flex-direction: column;

      h1 {
        color: $brand-color;
      }
    }
  }
}

.developers {
  h1 {
    color: $brand-color;
  }
}

.developer-detail {
  margin: 30px;
  padding: 10px;
  img {
    border-radius: 100%;
    width: 20vh;
    margin: 0 10px 0 10px;
    padding: 10px;
  }
  span {
    margin: 0 10px 0 10px;
  }
}
.sub-categories {
  //   border: 1px solid $brand-color;
  color: $brand-color;
  // box-shadow: 0px 3px 6px #00000029;
  padding: 0 10px 0 10px;

  h4 {
    font-size: medium;
    padding: 3px;
    width: 90%;
    margin: 10px auto;
    text-align: center;
  }
  ul {
    color: #4d4f5c;
    list-style-type: none;
    text-align: left;
    margin: 10px 5px 10px 5px;

    li {
      margin-bottom: 5px;

      input {
        color: $brand-color;
        margin: 5px;
      }
    }
  }
}
.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  font-size: 15px;
  justify-content: space-around;

  a {
    margin: 2px;
    color: #4d4f5c;
  }
  p {
    text-align: left;
    font-family: Roboto;
    letter-spacing: 0px;
    color: #4d4f5c;
    opacity: 0.56;
    margin: 10px 0 10px 0;
  }
}

@media only screen and (max-width: 650px) {
  .logo {
    width: 120px;
  }
  .navbar-light .navbar-toggler {
    border: none;
  }
  .nav-item .nav-link {
    padding: 0.5rem 8px;
  }
  .item-title {
    margin-bottom: 50px;
  }
  .item-description {
    display: none;
  }
  .sub-categories {
    display: none;
  }
  .recent-posts,
  .popular-post-container {
    margin-top: 50px;
  }
  .single-post,
  .popular-post,
  .recent-post-card {
    width: 90vw !important;
  }
  .recent-post-card {
    margin: 10px 0;
    padding: 0;
  }
}

@media only screen and (max-width: 650px) {
  .general-body {
    display: grid;
    grid-template-rows: 1fr, 2fr, 1fr;
  }
}

@media only screen and (min-width: 651px) and (max-width: 768px) {
  .nav-item .nav-link {
    padding: 0.5rem 1rem;
  }
  .general-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
  }
  .sub-categories {
    display: none;
  }
  .posts {
    margin: 0 20px;
  }
  .single-post {
    width: 55vw !important;
  }
  .sidebar {
    width: 40vw !important;
  }
  .recent-posts {
    margin-top: 0;
    top: -90px;
    position: relative;
  }
  .recent-post-card {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1124px) {
  .recent-post-card {
    display: flex;
    flex-direction: column;
  }
  .sub-categories .nav-link {
    padding: .5rem 0;
    color: #919192;
  }
}