@import "./variables";
@import "./appbar";
@import "./navigation";
@import "./carousel";
@import "./subcategories";
@import "./general";
@import "./auth";

@function weight($weight-name) {
  @return map-get($weight-name);
}

body {
  margin: 0;
  background-color: none;
}

hr {
  height: 1px;
  background-color: $brand-color;
}
